<p id="notice"><%= notice %></p>

<h2>Dados Gerais</h2>
<p><b>CPF: </b><%= @voluntario_pessoa_fisica.cpf_pf %></p>
<p><b>Nome: </b><%= @voluntario_pessoa_fisica.nome_pf %></p>
<p><b>Email: </b><%= @voluntario_pessoa_fisica.email_pf %></p>
<p><b>Telefone: </b><%= @voluntario_pessoa_fisica.telefone_pf %></p>
<p><b>Como ficou sabendo da JCI: </b><%= @voluntario_pessoa_fisica.como_ficou_sabendo_pf %></p>

<div class="checks">
<h2>Público</h2>
<p><%= 
    if @voluntario_pessoa_fisica.publico_criancas_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Criancas
</p>
<p><%= 
    if @voluntario_pessoa_fisica.publico_adultos_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Adultos
</p>
<p><%= 
    if @voluntario_pessoa_fisica.publico_melhor_idade_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Melhor Idade
</p>
<p><%= 
    if @voluntario_pessoa_fisica.publico_adolescentes_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Adolescentes
</p>
<p><%= 
    if @voluntario_pessoa_fisica.publico_especiais_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Especiais
</p>
<p><b>Outros: </b><%= @voluntario_pessoa_fisica.publico_outros_pf %></p>
</div>
<div class="checks">
<h2>Atuacão</h2>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_juridica_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Jurídica
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_administrativa_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Administrativa
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_recreacao_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Recreacão
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_saude_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Saúde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_educacao_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Educacão
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_manutencao_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manutencão
</p>
<p><%= 
    if @voluntario_pessoa_fisica.atuacao_doacao_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Doacão
</p>
<p><b>Outros: </b><%= @voluntario_pessoa_fisica.atuacao_outro_pf %></p>
</div>
<div style="clear: both"></div>

<h2>Disponibilidade</h2>
<div class="field">
<div class="check_dia">
<h3>Domingo</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_domManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_domTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_domNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Segunda</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_segManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_segTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_segNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Terca</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_terManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_terTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_terNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Quarta</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quaManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quaTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quaNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Quinta</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quiManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quiTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_quiNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Sexta</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sexManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sexTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sexNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div>
<div class="check_dia">
<h3>Sábado</h3>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sabManha_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manhã
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sabTarde_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Tarde
</p>
<p><%= 
    if @voluntario_pessoa_fisica.disp_sabNoite_pf == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Noite
</p>
</div></div>
<div style="clear: both"></div>
<br />
<h2>Outras informacões</h2>
<p><b>Visualizado: </b><%= 
    if @voluntario_pessoa_fisica.disp_sabNoite_pf == true 
      image_tag("true.png", :alt => "Verdade");
    else
      image_tag("false.png", :alt => "Falso");
    end
  %>
</p>
<p><b>Outras Informacões: </b><%= @voluntario_pessoa_fisica.outras_infos_pf %></p>
<br />
