<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Listing voluntario_pessoa_fisicas</h1>

<table border=1>
  <tr>
    <th>Nome pf</th>
    <th>Email pf</th>
    <th>Telefone pf</th>

    <th></th>
    <th></th>
  </tr>
  <% @voluntario_pessoa_fisicas.keys.sort.each do |starting_letter| %>
  <% @voluntario_pessoa_fisicas[starting_letter].each do |voluntario_pessoa_fisica| %>
  <tr>
    <td><%= link_to voluntario_pessoa_fisica.nome_pf, voluntario_pessoa_fisica %></td>
    <td><%= voluntario_pessoa_fisica.email_pf %></td>
    <td><%= voluntario_pessoa_fisica.telefone_pf %></td>

    <td><%= link_to 'Editar', edit_voluntario_pessoa_fisica_path(voluntario_pessoa_fisica) %></td>
    <td><%= link_to 'Apagar', voluntario_pessoa_fisica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Voluntario pessoa fisica', new_voluntario_pessoa_fisica_path %>
<br />
<br />

<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'buscarGeral'}, :method => 'get') do %>
      <br/>
      <h3>Busca Geral:</h3>
      <%= text_field_tag :queryGeral %> <br/>
      <%= submit_tag "Buscar" %> 
<% end  %>

<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'buscarHistorico'}, :method => 'get') do %>
      <br/>
      <h3>Busca por Histórico:</h3>
      <%= text_field_tag :queryHistorico %> <br/>
      <%= submit_tag "Buscar" %> 
<% end  %>

<br />

<h3>Busca por Afinidade:</h3>

<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_por_afinidade'}, :method => 'get') do %>
      <%= check_box_tag :publico_criancas_pf, checked_value = true %> Criança <br/>
      <%= check_box_tag :publico_adultos_pf, checked_value = true %> Adulto <br/>
      <%= check_box_tag :publico_melhor_idade_pf, checked_value = true %> Melhor Idade<br/>
      <%= check_box_tag :publico_adolescentes_pf, checked_value = true  %> Adolescente<br/>
      <%= check_box_tag :publico_especiais_pf, checked_value = true %> Especiais<br/>
      <br/>
      <%= submit_tag "Buscar por Afinidade" %> 
<% end  %>

<br/>

<h3>Busca disponibilidade de horário:</h3>
<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_por_disponibilidade'}, :method => 'get') do %>
  <div class="field">
    <p> Domingo Manhã: </p>
    <%= check_box_tag :disp_domManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Domingo Tarde: </p>
    <%= check_box_tag :disp_domTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Domingo Noite: </p>
    <%= check_box_tag :disp_domNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sábado Manhã: </p>
    <%= check_box_tag :disp_sabManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sábado Tarde: </p>
    <%= check_box_tag :disp_sabTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sábado Noite: </p>
    <%= check_box_tag :disp_sabNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sexta Manhã: </p>
    <%= check_box_tag :disp_sexManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sexta Tarde: </p>
    <%= check_box_tag :disp_sexTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Sexta Noite: </p>
    <%= check_box_tag :disp_sexNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> :Quinta Manhã: </p>
    <%= check_box_tag :disp_quiManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Quinta Tarde: </p>
    <%= check_box_tag :disp_quiTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Quinta Noite: </p>
    <%= check_box_tag :disp_quiNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Quarta Manhã: </p>
    <%= check_box_tag :disp_quaManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Quarta Tarde: </p>
    <%= check_box_tag :disp_quaTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Quarta Noite: </p>
    <%= check_box_tag :disp_quaNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Terça Manhã: </p>
    <%= check_box_tag :disp_terManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Terça Tarde: </p>
    <%= check_box_tag :disp_terTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Terça Noite: </p>
    <%= check_box_tag :disp_terNoite_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Segunda Manhã: </p>
    <%= check_box_tag :disp_segManha_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Segunda Tarde: </p>
    <%= check_box_tag :disp_segTarde_pf, checked_value = true %>
  </div>
  <div class="field">
    <p> Segunda Noite: </p>
    <%= check_box_tag :disp_segNoite_pf, checked_value = true %>
  </div>
  <br/>
  <%= submit_tag "Buscar por Disponibilidade" %> 
<% end  %>

<h3>Busca por experiência:</h3>
<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_experiencia'}, :method => 'get') do %>
  <%= submit_tag "Buscar por Experiência" %> 
<% end  %>

<h3>Busca por Área de Atuação:</h3>

<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_atuacao'}, :method => 'get') do %>
      <%= check_box_tag :atuacao_juridica_pf, checked_value = true %> Jurídica <br/>
      <%= check_box_tag :atuacao_administrativa_pf, checked_value = true %> Administrativa <br/>
      <%= check_box_tag :atuacao_recreacao_pf, checked_value = true %> Recreação<br/>
      <%= check_box_tag :atuacao_saude_pf, checked_value = true  %> Saúde<br/>
      <%= check_box_tag :atuacao_educacao_pf, checked_value = true  %> Educação<br/>
      <%= check_box_tag :atuacao_manutencao_pf, checked_value = true  %> Manutenção<br/>
      <%= check_box_tag :atuacao_doacao_pf, checked_value = true %> Doação<br/>
      <%= check_box_tag :atuacao_outro_pf, checked_value = true %> Outros<br/> 
      
      <br/>
      <%= submit_tag "Buscar por Atuação" %> 
<% end  %>

</div>