<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>

<div id="corpo">

<h1>Voluntários: Pessoa Física</h1>
<%= link_to 'Criar  Voluntário', new_voluntario_pessoa_fisica_path, :class => "botao_verde" %>
<input type="button" id="abrirbusca" class="botao_verde" value="Buscar" />
<div id="busca">
<div style="float: left; width:50%; height:80px;">
    <%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'buscarGeral'}, :method => 'get') do %>
        <h3>Busca Geral:</h3>
        <%= text_field_tag :queryGeral %>
        <%= submit_tag "Buscar", :class => "botao_verde" %> 
    <% end  %>
</div>
<div style="float: left; width:50%; height:80px;">
    <%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'buscarHistorico'}, :method => 'get') do %>
        <h3>Busca pelo Histórico:</h3>
        <%= text_field_tag :queryHistorico %>
        <%= submit_tag "Buscar", :class => "botao_verde" %> 
    <% end  %>
</div>
<div style="float: left; width:50%; height:220px;">
<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_atuacao'}, :method => 'get') do %>
        <h3>Busca por Área de Atuação:</h3>
        <%= check_box_tag :atuacao_juridica_pf, checked_value = true %> Jurídica <br/>
        <%= check_box_tag :atuacao_administrativa_pf, checked_value = true %> Administrativa <br/>
        <%= check_box_tag :atuacao_recreacao_pf, checked_value = true %> Recreação<br/>
        <%= check_box_tag :atuacao_saude_pf, checked_value = true  %> Saúde<br/>
        <%= check_box_tag :atuacao_educacao_pf, checked_value = true  %> Educação<br/>
        <%= check_box_tag :atuacao_manutencao_pf, checked_value = true  %> Manutenção<br/>
        <%= check_box_tag :atuacao_doacao_pf, checked_value = true %> Doação<br/>
        <%= check_box_tag :atuacao_outro_pf, checked_value = true %> Outros<br/> 
        <%= submit_tag "Buscar por Atuação", :class => "botao_verde" %> 
    <% end  %>
</div>
<div style="float: left; width:50%; height:220px;">
    <%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_por_afinidade'}, :method => 'get') do %>
        <h3>Busca por Afinidade:</h3>
        <%= check_box_tag :publico_criancas_pf, checked_value = true %> Criança <br/>
        <%= check_box_tag :publico_adultos_pf, checked_value = true %> Adulto <br/>
        <%= check_box_tag :publico_melhor_idade_pf, checked_value = true %> Melhor Idade<br/>
        <%= check_box_tag :publico_adolescentes_pf, checked_value = true  %> Adolescente<br/>
        <%= check_box_tag :publico_especiais_pf, checked_value = true %> Especiais<br/>
        <%= submit_tag "Buscar por Afinidade", :class => "botao_verde" %> 
    <% end  %>
</div>
<div style="clear: both"></div>
    <%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_por_disponibilidade'}, :method => 'get') do %>
        <h3>Busca disponibilidade de horário:</h3>
    <div class="field">
        <div class="check_dia">
            <p><b>Domingo</b></p>
            <%= check_box_tag :disp_domManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_domTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_domNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Segunda</b></p>
            <%= check_box_tag :disp_segManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_segTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_segNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Terca</b></p>
            <%= check_box_tag :disp_terManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_terTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_terNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Quarta</b></p>
            <%= check_box_tag :disp_quaManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_quaTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_quaNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Quinta</b></p>
            <%= check_box_tag :disp_quiManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_quiTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_quiNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Sexta</b></p>
            <%= check_box_tag :disp_sexManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_sexTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_sexNoite_pf, checked_value = true %>Noite
        </div>

        <div class="check_dia">
            <p><b>Sábado</b></p>
            <%= check_box_tag :disp_sabManha_pf, checked_value = true %>Manhã<br />
            <%= check_box_tag :disp_sabTarde_pf, checked_value = true %>Tarde<br />
            <%= check_box_tag :disp_sabNoite_pf, checked_value = true %>Noite
        </div>
    </div>
    <div style="clear: both"></div>
        <%= submit_tag "Buscar por Disponibilidade", :class => "botao_verde" %> 
    <% end  %>
<br />
    <%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'busca_experiencia'}, :method => 'get') do %>
        <h3>Busca por experiência:</h3>
        <%= submit_tag "Buscar por Experiência", :class => "botao_verde" %> 
    <% end  %>
</div>
<div id="lista">
<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @voluntario_pessoa_fisicas.keys.sort.each do |starting_letter| %>
  <% @voluntario_pessoa_fisicas[starting_letter].each do |voluntario_pessoa_fisica| %>
  <tr>
    <td><%= voluntario_pessoa_fisica.nome_pf %></td>
    <td><%= voluntario_pessoa_fisica.email_pf %></td>
    <td><%= voluntario_pessoa_fisica.telefone_pf %></td>
    <td class="center_image">
      <%= link_to( image_tag("profile.png", :alt => "Ver Perfil"), voluntario_pessoa_fisica) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("edit.png", :alt => "Editar Perfil"), edit_voluntario_pessoa_fisica_path(voluntario_pessoa_fisica)) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("delete.png", :alt => "Apagar Perfil"), voluntario_pessoa_fisica, method: :delete, data: { confirm: 'Você tem certeza?' }) %>
    </td>
  </tr>
  <% end %>
  <% end %>
</table>
</div>
</div>
