<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Listing voluntario_pessoa_fisicas</h1>

<table border=1>
  <tr>
    <th>Nome pf</th>
    <th>Email pf</th>
    <th>Telefone pf</th>

    <th></th>
    <th></th>
  </tr>
  <% @voluntario_pessoa_fisicas.keys.sort.each do |starting_letter| %>
  <% @voluntario_pessoa_fisicas[starting_letter].each do |voluntario_pessoa_fisica| %>
  <tr>
    <td><%= link_to voluntario_pessoa_fisica.nome_pf, voluntario_pessoa_fisica %></td>
    <td><%= voluntario_pessoa_fisica.email_pf %></td>
    <td><%= voluntario_pessoa_fisica.telefone_pf %></td>

    <td><%= link_to 'Editar', edit_voluntario_pessoa_fisica_path(voluntario_pessoa_fisica) %></td>
    <td><%= link_to 'Apagar', voluntario_pessoa_fisica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<br />

<%= link_to 'New Voluntario pessoa fisica', new_voluntario_pessoa_fisica_path %>

</div>
