<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>

<p id="notice"><%= notice %></p>

<%= render 'show' %>

<h2>Historico</h2>
<%= render @voluntario_pessoa_fisica.historicos %>

<h2>Novo Historico</h2>
<%= render "historicos/formvpf" %>

<br />

<h3>Buscar por entidade compatível com este perfil</h3>
<%= button_to 'Buscar', :controller => 'entidades', :action => 'cruzar_pf_ent', :method => 'get', :id => @voluntario_pessoa_fisica %>

<%= link_to 'Edit', edit_voluntario_pessoa_fisica_path(@voluntario_pessoa_fisica) %> |

</div>