<%= render 'home/menu' %>
<div id="corpo">
<div id="buscar_entidade">
<p>Buscar por entidade compatível com este perfil</p>
<%= button_to 'Buscar', { :controller => 'entidades', :action => 'cruzar_pf_ent'}, :method => 'get', :id => @voluntario_pessoa_fisica.id }, :class => "botao_verde" %>
</div>
<p id="notice"><%= notice %></p>
<%= render 'show' %>

<h1>Histórico</h1>
<h3>Novo Histórico</h3>
<%= render "historicos/formvpf" %>
<br />
<%= render @voluntario_pessoa_fisica.historicos %>
</div>

