<p id="notice"><%= notice %></p>

<p>
  <b>Cpf pf:</b>
  <%= @voluntario_pessoa_fisica.cpf_pf %>
</p>

<p>
  <b>Nome pf:</b>
  <%= @voluntario_pessoa_fisica.nome_pf %>
</p>

<p>
  <b>Email pf:</b>
  <%= @voluntario_pessoa_fisica.email_pf %>
</p>

<p>
  <b>Telefone pf:</b>
  <%= @voluntario_pessoa_fisica.telefone_pf %>
</p>

<p>
  <b>Como ficou sabendo pf:</b>
  <%= @voluntario_pessoa_fisica.como_ficou_sabendo_pf %>
</p>

<p>
  <b>Experiencia pf:</b>
  <%= @voluntario_pessoa_fisica.experiencia_pf %>
</p>

<p>
  <b>Publico criancas pf:</b>
  <%= @voluntario_pessoa_fisica.publico_criancas_pf %>
</p>

<p>
  <b>Publico adultos pf:</b>
  <%= @voluntario_pessoa_fisica.publico_adultos_pf %>
</p>

<p>
  <b>Publico melhor idade pf:</b>
  <%= @voluntario_pessoa_fisica.publico_melhor_idade_pf %>
</p>

<p>
  <b>Publico adolescentes pf:</b>
  <%= @voluntario_pessoa_fisica.publico_adolescentes_pf %>
</p>

<p>
  <b>Publico especiais pf:</b>
  <%= @voluntario_pessoa_fisica.publico_especiais_pf %>
</p>

<p>
  <b>Publico outros pf:</b>
  <%= @voluntario_pessoa_fisica.publico_outros_pf %>
</p>

<p>
  <b>Atuacao juridica pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_juridica_pf %>
</p>

<p>
  <b>Atuacao administrativa pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_administrativa_pf %>
</p>

<p>
  <b>Atuacao recreacao pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_recreacao_pf %>
</p>

<p>
  <b>Atuacao saude pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_saude_pf %>
</p>

<p>
  <b>Atuacao educacao pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_educacao_pf %>
</p>

<p>
  <b>Atuacao manutencao pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_manutencao_pf %>
</p>

<p>
  <b>Atuacao doacao pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_doacao_pf %>
</p>

<p>
  <b>Atuacao outro pf:</b>
  <%= @voluntario_pessoa_fisica.atuacao_outro_pf %>
</p>

<p>
  <b>Disp dommanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_domManha_pf %>
</p>

<p>
  <b>Disp domtarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_domTarde_pf %>
</p>

<p>
  <b>Disp domnoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_domNoite_pf %>
</p>

<p>
  <b>Disp sabmanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sabManha_pf %>
</p>

<p>
  <b>Disp sabtarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sabTarde_pf %>
</p>

<p>
  <b>Disp sabnoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sabNoite_pf %>
</p>

<p>
  <b>Disp sexmanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sexManha_pf %>
</p>

<p>
  <b>Disp sextarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sexTarde_pf %>
</p>

<p>
  <b>Disp sexnoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_sexNoite_pf %>
</p>

<p>
  <b>Disp quimanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quiManha_pf %>
</p>

<p>
  <b>Disp quitarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quiTarde_pf %>
</p>

<p>
  <b>Disp quinoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quiNoite_pf %>
</p>

<p>
  <b>Disp quamanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quaManha_pf %>
</p>

<p>
  <b>Disp quatarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quaTarde_pf %>
</p>

<p>
  <b>Disp quanoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_quaNoite_pf %>
</p>

<p>
  <b>Disp termanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_terManha_pf %>
</p>

<p>
  <b>Disp tertarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_terTarde_pf %>
</p>

<p>
  <b>Disp ternoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_terNoite_pf %>
</p>

<p>
  <b>Disp segmanha pf:</b>
  <%= @voluntario_pessoa_fisica.disp_segManha_pf %>
</p>

<p>
  <b>Disp segtarde pf:</b>
  <%= @voluntario_pessoa_fisica.disp_segTarde_pf %>
</p>

<p>
  <b>Disp segnoite pf:</b>
  <%= @voluntario_pessoa_fisica.disp_segNoite_pf %>
</p>

<p>
  <b>Outras infos pf:</b>
  <%= @voluntario_pessoa_fisica.outras_infos_pf %>
</p>

<p>
  <b>Visuzalizado pf:</b>
  <%= @voluntario_pessoa_fisica.visuzalizado_pf %>
</p>


<%= link_to 'Edit', edit_voluntario_pessoa_fisica_path(@voluntario_pessoa_fisica) %> |
<%= link_to 'Back', voluntario_pessoa_fisicas_path %>
