<%= form_for(@voluntario_pessoa_juridica) do |f| %>
  <% if @voluntario_pessoa_juridica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voluntario_pessoa_juridica.errors.count, "error") %> prohibited this voluntario_pessoa_juridica from being saved:</h2>

      <ul>
      <% @voluntario_pessoa_juridica.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>Dados Gerais</h2>
  <div class="field">
    <%= f.label :cnpj_pj, "CNPJ:" %>
    <%= f.text_field :cnpj_pj %>
  </div>
  <div class="field">
    <%= f.label :razao_social_pj, "Razão Social:" %>
    <%= f.text_field :razao_social_pj %>
  </div>
  <div class="field">
    <%= f.label :inscricao_estadual_pj, "Inscricão Estadual:" %>
    <%= f.text_field :inscricao_estadual_pj %>
  </div>
  <div class="field">
    <%= f.label :email_pj, "Email:" %>
    <%= f.text_field :email_pj %>
  </div>
  <div class="field">
    <%= f.label :telefone_pj, "Telefone:" %>
    <%= f.text_field :telefone_pj %>
  </div>
  <div class="field">
    <%= f.label :endereco_pj, "Endereco:" %>
    <%= f.text_field :endereco_pj %>
  </div>
  <div class="field">
    <%= f.label :area_atuacao_pj, "Área de Atuacão:" %>
    <%= f.text_field :area_atuacao_pj %>
  </div>
  <div class="field">
    <%= f.label :contato_pj, "Contato:" %>
    <%= f.text_field :contato_pj %>
  </div>
  <div class="field">
    <%= f.label :outras_infos_pj, "Outras Informacões:" %>
    <%= f.text_field :outras_infos_pj %>
  </div>
 <div class="actions">
    <%= f.submit "Cadastrar", :class => 'botao_azul' %>
  </div>
<% end %>
