<p id="notice"><%= notice %></p>

<p>
  <b>CNPJ:</b>
  <%= @voluntario_pessoa_juridica.cnpj_pj %>
</p>

<p>
  <b>Razão Social:</b>
  <%= @voluntario_pessoa_juridica.razao_social_pj %>
</p>

<p>
  <b>Inscricão Estadual:</b>
  <%= @voluntario_pessoa_juridica.inscricao_estadual_pj %>
</p>

<p>
  <b>Email:</b>
  <%= @voluntario_pessoa_juridica.email_pj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @voluntario_pessoa_juridica.telefone_pj %>
</p>

<p>
  <b>Endereco:</b>
  <%= @voluntario_pessoa_juridica.endereco_pj %>
</p>

<p>
  <b>Área de Atuacão:</b>
  <%= @voluntario_pessoa_juridica.area_atuacao_pj %>
</p>

<p>
  <b>Contato:</b>
  <%= @voluntario_pessoa_juridica.contato_pj %>
</p>

<p>
  <b>Outras Informacões:</b>
  <%= @voluntario_pessoa_juridica.outras_infos_pj %>
</p>
