<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Lista de Voluntários: Pessoa Jurídica</h1>
<%= link_to 'Criar Voluntário', new_voluntario_pessoa_juridica_path, :class => "botao_verde" %>
<table>
  <tr>
    <th>CNPJ</th>
    <th>Razao social</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voluntario_pessoa_juridicas.each do |voluntario_pessoa_juridica| %>
  <tr>
    <td><%= voluntario_pessoa_juridica.cnpj_pj %></td>
    <td><%= voluntario_pessoa_juridica.razao_social_pj %></td>
    <td><%= voluntario_pessoa_juridica.telefone_pj %></td>

    <td class="center_image">
      <%= link_to( image_tag("profile.png", :alt => "Ver Perfil"), voluntario_pessoa_juridica) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("edit.png", :alt => "Editar Perfil"), edit_voluntario_pessoa_juridica_path(voluntario_pessoa_juridica)) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("delete.png", :alt => "Apagar Perfil"), voluntario_pessoa_juridica, method: :delete, data: { confirm: 'Você tem certeza?' }) %>
    </td>
  </tr>
<% end %>
</table>

<br />
<br />
<br />

<%= form_tag({:controller => 'voluntario_pessoa_juridicas', :action => 'buscarGeral'}, :method => 'get') do %>
      <br/>
      <h3>Busca Geral:</h3>
      <%= text_field_tag :query %> <br/>
      <%= submit_tag "Buscar" %> 
<% end  %>

</br>
</br>

<%= form_tag({:controller => 'voluntario_pessoa_juridicas', :action => 'buscarHistorico'}, :method => 'get') do %>
      <br/>
      <h3>Busca por Histórico:</h3>
      <%= text_field_tag :queryHistorico %> <br/>
      <%= submit_tag "Buscar" %> 
<% end  %>

</br>
</br>
</br>

</div>