<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>

<div id="corpo">
<h1>Voluntários: Pessoa Jurídica</h1>
<div style="float: left; width:50%">
<%= form_tag({:controller => 'voluntario_pessoa_juridicas', :action => 'buscarGeral'}, :method => 'get') do %>
      <br/>
      <h3>Busca Geral:</h3>
      <%= text_field_tag :query %>
      <%= submit_tag "Buscar", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="float: left; width:50%">
<%= form_tag({:controller => 'voluntario_pessoa_juridicas', :action => 'buscarHistorico'}, :method => 'get') do %>
      <br/>
      <h3>Busca por Histórico:</h3>
      <%= text_field_tag :queryHistorico %>
      <%= submit_tag "Buscar", :class => "botao_verde" %> 
<% end  %>
</div>
<br /><br /><br /><br /><br /><br />
<%= link_to 'Criar Voluntário', new_voluntario_pessoa_juridica_path, :class => "botao_verde" %>
<table>
  <tr>
    <th style="width:150px">CNPJ</th>
    <th>Razão Social</th>
    <th>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voluntario_pessoa_juridicas.each do |voluntario_pessoa_juridica| %>
  <tr>
    <td><%= voluntario_pessoa_juridica.cnpj_pj %></td>
    <td><%= voluntario_pessoa_juridica.razao_social_pj %></td>
    <td><%= voluntario_pessoa_juridica.telefone_pj %></td>

    <td class="center_image">
      <%= link_to( image_tag("business.png", :alt => "Ver Perfil"), voluntario_pessoa_juridica) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("edit.png", :alt => "Editar Perfil"), edit_voluntario_pessoa_juridica_path(voluntario_pessoa_juridica)) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("delete.png", :alt => "Apagar Perfil"), voluntario_pessoa_juridica, method: :delete, data: { confirm: 'Você tem certeza?' }) %>
    </td>
  </tr>
<% end %>
</table>
</div>
