<h1>Listing voluntario_pessoa_juridicas</h1>

<table>
  <tr>
    <th>Cnpj pj</th>
    <th>Razao social pj</th>
    <th>Inscricao estadual pj</th>
    <th>Email pj</th>
    <th>Telefone pj</th>
    <th>Endereco pj</th>
    <th>Area atuacao pj</th>
    <th>Contato pj</th>
    <th>Outras infos pj</th>
    <th>Visualizado pj</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voluntario_pessoa_juridicas.each do |voluntario_pessoa_juridica| %>
  <tr>
    <td><%= voluntario_pessoa_juridica.cnpj_pj %></td>
    <td><%= voluntario_pessoa_juridica.razao_social_pj %></td>
    <td><%= voluntario_pessoa_juridica.inscricao_estadual_pj %></td>
    <td><%= voluntario_pessoa_juridica.email_pj %></td>
    <td><%= voluntario_pessoa_juridica.telefone_pj %></td>
    <td><%= voluntario_pessoa_juridica.endereco_pj %></td>
    <td><%= voluntario_pessoa_juridica.area_atuacao_pj %></td>
    <td><%= voluntario_pessoa_juridica.contato_pj %></td>
    <td><%= voluntario_pessoa_juridica.outras_infos_pj %></td>
    <td><%= voluntario_pessoa_juridica.visualizado_pj %></td>
    <td><%= link_to 'Show', voluntario_pessoa_juridica %></td>
    <td><%= link_to 'Edit', edit_voluntario_pessoa_juridica_path(voluntario_pessoa_juridica) %></td>
    <td><%= link_to 'Destroy', voluntario_pessoa_juridica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voluntario pessoa juridica', new_voluntario_pessoa_juridica_path %>
