<p id="notice"><%= notice %></p>

<p>
  <b>Cnpj pj:</b>
  <%= @voluntario_pessoa_juridica.cnpj_pj %>
</p>

<p>
  <b>Razao social pj:</b>
  <%= @voluntario_pessoa_juridica.razao_social_pj %>
</p>

<p>
  <b>Inscricao estadual pj:</b>
  <%= @voluntario_pessoa_juridica.inscricao_estadual_pj %>
</p>

<p>
  <b>Email pj:</b>
  <%= @voluntario_pessoa_juridica.email_pj %>
</p>

<p>
  <b>Telefone pj:</b>
  <%= @voluntario_pessoa_juridica.telefone_pj %>
</p>

<p>
  <b>Endereco pj:</b>
  <%= @voluntario_pessoa_juridica.endereco_pj %>
</p>

<p>
  <b>Area atuacao pj:</b>
  <%= @voluntario_pessoa_juridica.area_atuacao_pj %>
</p>

<p>
  <b>Contato pj:</b>
  <%= @voluntario_pessoa_juridica.contato_pj %>
</p>

<p>
  <b>Outras infos pj:</b>
  <%= @voluntario_pessoa_juridica.outras_infos_pj %>
</p>

<p>
  <b>Visualizado pj:</b>
  <%= @voluntario_pessoa_juridica.visualizado_pj %>
</p>


<%= link_to 'Edit', edit_voluntario_pessoa_juridica_path(@voluntario_pessoa_juridica) %> |
<%= link_to 'Back', voluntario_pessoa_juridicas_path %>
