<h2>Sou uma Entidade</h2>
<%= form_tag({:controller => 'entidades', :action => 'buscar'}, :method => 'get') do %>
  <%= text_field_tag :cnpj_ent, nil, :class => 'cnpj'%>
      <%= submit_tag "Ver meus dados" %> 
<% end  %>

68.227.243/0001-09

<h2>Sou uma Pessoa Física</h2>
<%= form_tag({:controller => 'voluntario_pessoa_fisicas', :action => 'buscar'}, :method => 'get') do %>
  <%= text_field_tag :cpf, nil, :class => 'cpf'%>
      <%= submit_tag "Ver meus dados" %> 
<% end  %>

<h2>Sou uma Pessoa Jurídica</h2>
<%= form_tag({:controller => 'voluntario_pessoa_juridicas', :action => 'buscar'}, :method => 'get') do %>
  <%= text_field_tag :cnpj_pj, nil, :class => 'cnpj' %>
      <%= submit_tag "Ver meus dados" %> 
<% end  %>
