<%= form_for(@entidade) do |f| %>
  <% if @entidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entidade.errors.count, "error") %> prohibited this entidade from being saved:</h2>

      <ul>
      <% @entidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cnpj_ent %><br />
    <%= f.text_field :cnpj_ent %>
  </div>
  <div class="field">
    <%= f.label :nome_ent %><br />
    <%= f.text_field :nome_ent %>
  </div>
  <div class="field">
    <%= f.label :endereco_ent %><br />
    <%= f.text_field :endereco_ent %>
  </div>
  <div class="field">
    <%= f.label :nome_responsavel_ent %><br />
    <%= f.text_field :nome_responsavel_ent %>
  </div>
  <div class="field">
    <%= f.label :email_ent %><br />
    <%= f.text_field :email_ent %>
  </div>
  <div class="field">
    <%= f.label :telefone_ent %><br />
    <%= f.text_field :telefone_ent %>
  </div>
  <div class="field">
    <%= f.label :site_ent %><br />
    <%= f.text_field :site_ent %>
  </div>
  <div class="field">
    <%= f.label :data_fundacao_ent %><br />
    <%= f.date_select :data_fundacao_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_criancas_ent %><br />
    <%= f.check_box :publico_criancas_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_adultos_ent %><br />
    <%= f.check_box :publico_adultos_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_melhor_idade_ent %><br />
    <%= f.check_box :publico_melhor_idade_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_adolescentes_ent %><br />
    <%= f.check_box :publico_adolescentes_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_especiais_ent %><br />
    <%= f.check_box :publico_especiais_ent %>
  </div>
  <div class="field">
    <%= f.label :publico_outros_ent %><br />
    <%= f.text_field :publico_outros_ent %>
  </div>
  <div class="field">
    <%= f.label :numero_beneficiados_ent %><br />
    <%= f.number_field :numero_beneficiados_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_juridica_ent %><br />
    <%= f.check_box :atuacao_juridica_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_administrativa_ent %><br />
    <%= f.check_box :atuacao_administrativa_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_recreacao_ent %><br />
    <%= f.check_box :atuacao_recreacao_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_saude_ent %><br />
    <%= f.check_box :atuacao_saude_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_educacao_ent %><br />
    <%= f.check_box :atuacao_educacao_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_manutencao_ent %><br />
    <%= f.check_box :atuacao_manutencao_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_doacao_ent %><br />
    <%= f.check_box :atuacao_doacao_ent %>
  </div>
  <div class="field">
    <%= f.label :atuacao_outro_ent %><br />
    <%= f.text_field :atuacao_outro_ent %>
  </div>
  <div class="field">
    <%= f.label :apoio_municipal_ent %><br />
    <%= f.check_box :apoio_municipal_ent %>
  </div>
  <div class="field">
    <%= f.label :apoio_estadual_ent %><br />
    <%= f.check_box :apoio_estadual_ent %>
  </div>
  <div class="field">
    <%= f.label :apoio_federal_ent %><br />
    <%= f.check_box :apoio_federal_ent %>
  </div>
  <div class="field">
    <%= f.label :apoio_particular_ent %><br />
    <%= f.check_box :apoio_particular_ent %>
  </div>
  <div class="field">
    <%= f.label :horarios_atendimento_ent %><br />
    <%= f.text_field :horarios_atendimento_ent %>
  </div>
  <div class="field">
    <%= f.label :visualizado_ent %><br />
    <%= f.check_box :visualizado_ent %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
