<p id="notice"><%= notice %></p>

<h2>Dados Gerais</h2>
<p><b>CNPJ: </b><%= @entidade.cnpj_ent %></p>
<p><b>Nome: </b><%= @entidade.nome_ent %></p>
<p><b>Endereco: </b><%= @entidade.endereco_ent %></p>
<p><b>Nome do Responsável: </b><%= @entidade.nome_responsavel_ent %></p>
<p><b>Email: </b><%= @entidade.email_ent %></p>
<p><b>Telefone: </b><%= @entidade.telefone_ent %></p>
<p><b>Site: </b><%= @entidade.site_ent %></p>
<p><b>Data de Fundacão: </b><%= @entidade.data_fundacao_ent %></p>
<p><b>Número de Beneficiados: </b><%= @entidade.numero_beneficiados_ent %></p>
<p><b>Horários de Atendimento: </b><%= @entidade.horarios_atendimento_ent %></p>

<div class="checks">
<h2>Público</h2>
<p><%= 
    if @entidade.publico_criancas_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Criancas
</p>
<p><%= 
    if @entidade.publico_adultos_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Adultos
</p>
<p><%= 
    if @entidade.publico_melhor_idade_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Melhor Idade
</p>
<p><%= 
    if @entidade.publico_adolescentes_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Adolescentes
</p>
<p><%= 
    if @entidade.publico_especiais_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Especiais
</p>
<p><b>Outros: </b><%= @entidade.publico_outros_ent %></p>
</div>

<div class="checks">
<h2>Atuacão</h2>
<p><%= 
    if @entidade.atuacao_juridica_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Jurídica
</p>
<p><%= 
    if @entidade.atuacao_administrativa_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Administrativa
</p>
<p><%= 
    if @entidade.atuacao_recreacao_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Recreacão
</p>
<p><%= 
    if @entidade.atuacao_saude_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Saúde
</p>
<p><%= 
    if @entidade.atuacao_educacao_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Educacão
</p>
<p><%= 
    if @entidade.atuacao_manutencao_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Manutencão
</p>
<p><%= 
    if @entidade.atuacao_doacao_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Doacão
</p>
<p><b>Outros: </b><%= @entidade.atuacao_outro_ent %></p>
</div>
<div class="checks">
<h2>Apoio</h2>
<p><%= 
    if @entidade.apoio_municipal_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Municipal
</p>
<p><%= 
    if @entidade.apoio_estadual_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Estadual
</p>
<p><%= 
    if @entidade.apoio_federal_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Federal
</p>
<p><%= 
    if @entidade.apoio_particular_ent == true 
      image_tag("check.png", :alt => "Verdade");
    else
      image_tag("nocheck.png", :alt => "Falso");
    end
  %>Particular
</p>
</div>


<h3>Buscar por entidade compatível com este perfil</h3>
<%= button_to "Buscar", {:controller => "voluntario_pessoa_fisicas", :action => "cruzar_pf_ent" }, :method => "get", :id => @entidade.id %>

<%# FIX: tratar quando a entidade é aprovada e como será aprovada%>
<%# TODO: tratar quando o atributo visualizado será atribuido true%>
