<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'senhorjcis/menu' %>
<div id="corpo">

<h1>Entidades</h1>
<%= link_to 'Criar Entidade', new_entidade_path, :class => "botao_verde" %>
<input type="button" id="abrirbusca" class="botao_verde" value="Buscar" />
<div id="busca">
<div style="float: left; width:50%; height:80px;">
<%= form_tag({:controller => 'entidades', :action => 'buscarArray'}, :method => 'get') do %>
      <h3>Busca Geral</h3>
      <%= text_field_tag :query %>
      <%= submit_tag "Search", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="float: left; width:50%; height:80px;">
<h3>Busca pelo Histórico</h3>
<%= form_tag({:controller => 'entidades', :action => 'buscarHistorico'}, :method => 'get') do %>
      <%= text_field_tag :queryHistorico %>
      <%= submit_tag "Buscar", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="float: left; width:50%; height:200px;">
<h3>Busca por Público</h3>
<%= form_tag({:controller => 'entidades', :action => 'busca_publico_ent'}, :method => 'get') do %>
      <%= check_box_tag :publico_criancas_ent, checked_value = true %> Criança <br/>
      <%= check_box_tag :publico_adultos_ent, checked_value = true %> Adulto <br/>
      <%= check_box_tag :publico_melhor_idade_ent, checked_value = true %> Melhor Idade<br/>
      <%= check_box_tag :publico_adolescentes_ent, checked_value = true  %> Adolescente<br/>
      <%= check_box_tag :publico_especiais_ent, checked_value = true %> Especiais<br/>
      <%= submit_tag "Buscar por Público", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="float: left; width:50%; height:200px;">
<h3>Busca por Área de Atuação:</h3>
<%= form_tag({:controller => 'entidades', :action => 'busca_por_atuacao'}, :method => 'get') do %>
      <%= check_box_tag :atuacao_juridica_ent, checked_value = true %> Jurídica <br/>
      <%= check_box_tag :atuacao_administrativa_ent, checked_value = true %> Administrativa <br/>
      <%= check_box_tag :atuacao_recreacao_ent, checked_value = true %> Recreação<br/>
      <%= check_box_tag :atuacao_saude_ent, checked_value = true  %> Saúde<br/>
      <%= check_box_tag :atuacao_educacao_ent, checked_value = true  %> Educação<br/>
      <%= check_box_tag :atuacao_manutencao_ent, checked_value = true  %> Manutenção<br/>
      <%= check_box_tag :atuacao_doacao_ent, checked_value = true %> Doação<br/>
      <%= check_box_tag :atuacao_outro_ent, checked_value = true %> Outros<br/> 
      <%= submit_tag "Buscar por Atuação", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="float: left; width:50%; height:150px;">
<h3>Busca por Apoio:</h3>
<%= form_tag({:controller => 'entidades', :action => 'busca_por_apoio'}, :method => 'get') do %>
      <%= check_box_tag :apoio_municipal_ent, checked_value = true %> Municipal <br/>
      <%= check_box_tag :apoio_estadual_ent, checked_value = true %> Estadual <br/>
      <%= check_box_tag :apoio_federal_ent, checked_value = true %> Federal<br/>
      <%= check_box_tag :apoio_particular_ent, checked_value = true  %> Particulars<br/>
      <%= submit_tag "Buscar por Apoio", :class => "botao_verde" %> 
<% end  %>
</div>
<div style="clear:both"></div><br />
</div>
<div id="lista">
<table>
  <tr>
    <th style="width:150px">CNPJ</th>
    <th>Nome</th>
    
    <th>Visualizado</th>
    <th>Aprovado</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @entidades.each do |entidade| %>
  
  <tr>
    <td><%= entidade.cnpj_ent %></td>
    <td><%= entidade.nome_ent %></td>
    
    <td class="center_image">
      <%=
      if entidade.visualizado_ent == true
        image_tag("true.png", :alt => "Ver Entidade");
      else 
        image_tag("false.png", :alt => "Ver Entidade");
      end
      %>
    </td>
    <td class="center_image">
      <%=
      if entidade.aprovado_ent == true
        image_tag("true.png", :alt => "Ver Entidade");
      else 
        image_tag("false.png", :alt => "Ver Entidade");
      end
      %>
    </td>

    <td class="center_image">
      <%= link_to( image_tag("entity.png", :alt => "Ver Entidade"), entidade) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("edit.png", :alt => "Editar Entidade"), edit_entidade_path(entidade)) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("delete.png", :alt => "Apagar Entidade"), entidade, method: :delete, data: { confirm: 'Você tem certeza?' }) %>
    </td>
  </tr>
<% end %>
</table>
</div>
</div>
