<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>


<h1>Listing entidades</h1>

<table>
  <tr>
    <th>Cnpj ent</th>
    <th>Nome ent</th>
    <th>Endereco ent</th>
    <th>Nome responsavel ent</th>
    <th>Email ent</th>
    <th>Telefone ent</th>
    <th>Site ent</th>
    <th>Data fundacao ent</th>
    <th>Publico criancas ent</th>
    <th>Publico adultos ent</th>
    <th>Publico melhor idade ent</th>
    <th>Publico adolescentes ent</th>
    <th>Publico especiais ent</th>
    <th>Publico outros ent</th>
    <th>Numero beneficiados ent</th>
    <th>Atuacao juridica ent</th>
    <th>Atuacao administrativa ent</th>
    <th>Atuacao recreacao ent</th>
    <th>Atuacao saude ent</th>
    <th>Atuacao educacao ent</th>
    <th>Atuacao manutencao ent</th>
    <th>Atuacao doacao ent</th>
    <th>Atuacao outro ent</th>
    <th>Apoio municipal ent</th>
    <th>Apoio estadual ent</th>
    <th>Apoio federal ent</th>
    <th>Apoio particular ent</th>
    <th>Horarios atendimento ent</th>
    <th>Visualizado ent</th>
    <th>Aprovado ent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entidades.each do |entidade| %>
  <tr>
    <td><%= entidade.cnpj_ent %></td>
    <td><%= entidade.nome_ent %></td>
    <td><%= entidade.endereco_ent %></td>
    <td><%= entidade.nome_responsavel_ent %></td>
    <td><%= entidade.email_ent %></td>
    <td><%= entidade.telefone_ent %></td>
    <td><%= entidade.site_ent %></td>
    <td><%= entidade.data_fundacao_ent %></td>
    <td><%= entidade.publico_criancas_ent %></td>
    <td><%= entidade.publico_adultos_ent %></td>
    <td><%= entidade.publico_melhor_idade_ent %></td>
    <td><%= entidade.publico_adolescentes_ent %></td>
    <td><%= entidade.publico_especiais_ent %></td>
    <td><%= entidade.publico_outros_ent %></td>
    <td><%= entidade.numero_beneficiados_ent %></td>
    <td><%= entidade.atuacao_juridica_ent %></td>
    <td><%= entidade.atuacao_administrativa_ent %></td>
    <td><%= entidade.atuacao_recreacao_ent %></td>
    <td><%= entidade.atuacao_saude_ent %></td>
    <td><%= entidade.atuacao_educacao_ent %></td>
    <td><%= entidade.atuacao_manutencao_ent %></td>
    <td><%= entidade.atuacao_doacao_ent %></td>
    <td><%= entidade.atuacao_outro_ent %></td>
    <td><%= entidade.apoio_municipal_ent %></td>
    <td><%= entidade.apoio_estadual_ent %></td>
    <td><%= entidade.apoio_federal_ent %></td>
    <td><%= entidade.apoio_particular_ent %></td>
    <td><%= entidade.horarios_atendimento_ent %></td>
    <td><%= entidade.visualizado_ent %></td>
    <td><%= entidade.aprovado_ent %></td>
    <td><%= link_to 'Show', entidade %></td>
    <td><%= link_to 'Several', { :action => 'several', :id => entidade} %></td>
    <td><%= link_to 'Edit', edit_entidade_path(entidade) %></td>
    <td><%= link_to 'Destroy', entidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entidade', new_entidade_path %>

<%= form_tag({:controller => 'entidades', :action => 'buscarArray'}, :method => 'get') do %>
      Público <br/>
      <%= text_field_tag :query %> <br/>
      <%= submit_tag "Search" %> 
<% end  %>

<br><br><br>

<h3>Busca por Público</h3>

<%= form_tag({:controller => 'entidades', :action => 'busca_publico_ent'}, :method => 'get') do %>
      <%= check_box_tag :publico_criancas_ent, checked_value = true %> Criança <br/>
      <%= check_box_tag :publico_adultos_ent, checked_value = true %> Adulto <br/>
      <%= check_box_tag :publico_melhor_idade_ent, checked_value = true %> Melhor Idade<br/>
      <%= check_box_tag :publico_adolescentes_ent, checked_value = true  %> Adolescente<br/>
      <%= check_box_tag :publico_especiais_ent, checked_value = true %> Especiais<br/>
      <br/>
      <%= submit_tag "Buscar por Público" %> 
<% end  %>

<br><br>

<h3>Busca por Área de Atuação:</h3>

<%= form_tag({:controller => 'entidades', :action => 'busca_por_atuacao'}, :method => 'get') do %>
      <%= check_box_tag :atuacao_juridica_ent, checked_value = true %> Jurídica <br/>
      <%= check_box_tag :atuacao_administrativa_ent, checked_value = true %> Administrativa <br/>
      <%= check_box_tag :atuacao_recreacao_ent, checked_value = true %> Recreação<br/>
      <%= check_box_tag :atuacao_saude_ent, checked_value = true  %> Saúde<br/>
      <%= check_box_tag :atuacao_educacao_ent, checked_value = true  %> Educação<br/>
      <%= check_box_tag :atuacao_manutencao_ent, checked_value = true  %> Manutenção<br/>
      <%= check_box_tag :atuacao_doacao_ent, checked_value = true %> Doação<br/>
      <%= check_box_tag :atuacao_outro_ent, checked_value = true %> Outros<br/> 
      
      <br/>
      <%= submit_tag "Buscar por Atuação" %> 
<% end  %>

<br>

<h3>Busca por Área de Atuação:</h3>

<%= form_tag({:controller => 'entidades', :action => 'busca_por_apoio'}, :method => 'get') do %>
      <%= check_box_tag :apoio_municipal_ent, checked_value = true %> Municipal <br/>
      <%= check_box_tag :apoio_estadual_ent, checked_value = true %> Estadual <br/>
      <%= check_box_tag :apoio_federal_ent, checked_value = true %> Federal<br/>
      <%= check_box_tag :apoio_particular_ent, checked_value = true  %> Particulars<br/>
      <br/>
      <%= submit_tag "Buscar por Apoio" %> 
<% end  %>

<br>
<br>

</div>