<p id="notice"><%= notice %></p>

<p>
  <b>Cnpj ent:</b>
  <%= @entidade.cnpj_ent %>
</p>

<p>
  <b>Nome ent:</b>
  <%= @entidade.nome_ent %>
</p>

<p>
  <b>Endereco ent:</b>
  <%= @entidade.endereco_ent %>
</p>

<p>
  <b>Nome responsavel ent:</b>
  <%= @entidade.nome_responsavel_ent %>
</p>

<p>
  <b>Email ent:</b>
  <%= @entidade.email_ent %>
</p>

<p>
  <b>Telefone ent:</b>
  <%= @entidade.telefone_ent %>
</p>

<p>
  <b>Site ent:</b>
  <%= @entidade.site_ent %>
</p>

<p>
  <b>Data fundacao ent:</b>
  <%= @entidade.data_fundacao_ent %>
</p>

<p>
  <b>Publico criancas ent:</b>
  <%= @entidade.publico_criancas_ent %>
</p>

<p>
  <b>Publico adultos ent:</b>
  <%= @entidade.publico_adultos_ent %>
</p>

<p>
  <b>Publico melhor idade ent:</b>
  <%= @entidade.publico_melhor_idade_ent %>
</p>

<p>
  <b>Publico adolescentes ent:</b>
  <%= @entidade.publico_adolescentes_ent %>
</p>

<p>
  <b>Publico especiais ent:</b>
  <%= @entidade.publico_especiais_ent %>
</p>

<p>
  <b>Publico outros ent:</b>
  <%= @entidade.publico_outros_ent %>
</p>

<p>
  <b>Numero beneficiados ent:</b>
  <%= @entidade.numero_beneficiados_ent %>
</p>

<p>
  <b>Atuacao juridica ent:</b>
  <%= @entidade.atuacao_juridica_ent %>
</p>

<p>
  <b>Atuacao administrativa ent:</b>
  <%= @entidade.atuacao_administrativa_ent %>
</p>

<p>
  <b>Atuacao recreacao ent:</b>
  <%= @entidade.atuacao_recreacao_ent %>
</p>

<p>
  <b>Atuacao saude ent:</b>
  <%= @entidade.atuacao_saude_ent %>
</p>

<p>
  <b>Atuacao educacao ent:</b>
  <%= @entidade.atuacao_educacao_ent %>
</p>

<p>
  <b>Atuacao manutencao ent:</b>
  <%= @entidade.atuacao_manutencao_ent %>
</p>

<p>
  <b>Atuacao doacao ent:</b>
  <%= @entidade.atuacao_doacao_ent %>
</p>

<p>
  <b>Atuacao outro ent:</b>
  <%= @entidade.atuacao_outro_ent %>
</p>

<p>
  <b>Apoio municipal ent:</b>
  <%= @entidade.apoio_municipal_ent %>
</p>

<p>
  <b>Apoio estadual ent:</b>
  <%= @entidade.apoio_estadual_ent %>
</p>

<p>
  <b>Apoio federal ent:</b>
  <%= @entidade.apoio_federal_ent %>
</p>

<p>
  <b>Apoio particular ent:</b>
  <%= @entidade.apoio_particular_ent %>
</p>

<p>
  <b>Horarios atendimento ent:</b>
  <%= @entidade.horarios_atendimento_ent %>
</p>

<p>
  <b>Visualizado ent:</b>
  <%= @entidade.visualizado_ent %>
</p>

<p>
  <b>Aprovado ent:</b>
  <%= @entidade.aprovado_ent %>
</p>


<%= link_to 'Edit', edit_entidade_path(@entidade) %> |
<%= link_to 'Back', entidades_path %>
