<!-- render abaixo abre uma div que está sendo fechada na ultima linha dessa pagina -->
<%= render 'home/menu' %>

<p id="notice"><%= notice %></p>


<%= render 'show' %>


<h2>Historico</h2>
<%= render @entidade.historicos %>

<h2>Novo Historico</h2>
<%= render "historicos/forment" %>

<br />

<%= @entidade.aprovado_ent ? false : (link_to "Aprovar", :action => "aprovado", :id => @entidade ) %>
<br>
<br>
<%= link_to 'Edit', edit_entidade_path(@entidade) %> 

</div>