<%= render 'home/menu' %>
<div id="aprovar_entidade">
<%= if  @entidade.aprovado_ent 
		render :text => "Aprovada"
	else

	(link_to "Aprovar", { :action => "aprovado", :id => @entidade}, :class => "botao_verde" ) 
	end
		%>
</div>
<p id="notice"><%= notice %></p>

<%= render 'show' %>

<h1>Histórico</h1>

<%= render @entidade.historicos %>

<h3>Novo Histórico</h3>
<%= render "historicos/forment" %>
