<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data_not, "Data:" %>
    <%= f.date_select :data_not %>
  </div>
  <div class="field">
    <%= f.label :data_update_not, "Data de Atualizacão:" %>
    <%= f.date_select :data_update_not %>
  </div>
  <div class="field">
    <%= f.label :titulo_not, "Título da Notícia:" %>
    <%= f.text_field :titulo_not %>
  </div>
  <div class="field">
    <%= f.label :descricao_not, "Texto:" %>
    <%= f.text_area :descricao_not %>
  </div>
  
  <div class="field">
    <%= f.label :photo, "Imagem" %>
    <%= f.file_field :photo %>
  </div>
  
  <div class="actions">
    <%= f.submit "Criar/Editar", :class => "botao_verde" %>
  </div>
<% end %>
