<%= render 'senhorjcis/menu' %>
<div id="corpo">
<h1>Notícias</h1>
<%= link_to 'Criar Notícia', new_post_path, :class => "botao_verde" %>
<table>
  <tr>
    <th style="width:100px; text-align:center">Data</th>
    <th>Titulo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
<%= will_paginate @posts %>
  <tr>
    <td><%= post.data_not %></td>
    <td><%= post.titulo_not %></td>
    <td class="center_image">
      <%= link_to( image_tag("post.png", :alt => "Ver Post"), post) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("edit.png", :alt => "Editar Post"), edit_post_path(post)) %>
    </td>
    <td class="center_image">
      <%= link_to( image_tag("delete.png", :alt => "Apagar Post"), post, method: :delete, data: { confirm: 'Você tem certeza?' }) %>
    </td>
  </tr>
<% end %>
</table>
</div>