<h1>Notícias</h1>
<% @posts.each do |post| %>
<%= will_paginate @posts %>
    <h3><%= post.titulo_not %></h3>
    <p class="data">Data: <%= post.data_not %></p>
    <p><%= post.descricao_not %></p>
    <br />
    <% if post.photo? %>
    <p><%= image_tag post.photo.url(), :width => "80%" %></p>
    <% end %>
    <br />
<% end %>

