<%= render 'senhorjcis/menu' %>
<div id="corpo">
    <h1>Notícias</h1>
<p id="notice"><%= notice %></p>

<h3><%= @post.titulo_not %></h3>
<p class="data">Data: <%= @post.created_at %> - Atualizado: <%= @post.updated_at %></p>
<% if @post.photo? %>
<%= image_tag @post.photo.url(), :size => "500" %>
<% end %>
<p><%= @post.descricao_not %></p>
 </div>
