<%= render 'senhorjcis/menu' %>
<div id="corpo">
    <h1>Notícias</h1>
<p id="notice"><%= notice %></p>

<h3><%= @post.titulo_not %></h3>
<p class="data">Data: <%= @post.data_not %> - Atualizado: <%= @post.data_update_not %></p>

<p><%= @post.descricao_not %></p>
</div>
