<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

<div class='field'>
    <%= f.label :email, "Email:", :style => "width:100px" %>
    <%= f.text_field :email, :type => 'email' %>
</div>

  <div class='field'>
    <%= f.submit 'Enviar instruções para email', :class => "botao_azul", :style => "float: right" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
