<!DOCTYPE html>
<html>
<head>
    <title>JCI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.maskedinput" %>
  <%= javascript_include_tag "utils" %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="wrapper">
    <div id="header">
    

      <div id="logo">
        <%= link_to( image_tag("logo.png", :alt => "rss feed"), home_path) %> 
      </div>
      
      <div id="menu">
        <ul>
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'Cadastre-se', cadastrar_home_index_path %></li>
          <li><%= link_to 'Alterar meus dados', logar_home_index_path %></li>
          <li><%= link_to 'Sobre', sobre_home_index_path %></li>
          <li><%= link_to 'Contato', contato_home_index_path%></li>
          <li><%= link_to 'Admin', inbox_senhorjcis_path %></li>   

        </ul>
      </div>

    </div>
    <%= yield %>
  </div>
</body>
</html>
