<!DOCTYPE html>
<html>
<head>
  <title>JCI</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.maskedinput" %>
  <%= javascript_include_tag "utils" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      
      <div id="logo">
        <%= link_to( image_tag("logo.jpg", :alt => "rss feed"), home_path) %> 
      </div>
      
      <div id="menu">
        <ul>
          <li><%= link_to 'Home', home_path %></li>
          <li><%= link_to 'Cadastre-se', {:controller => "home", :action => 'cadastrar' }%></li>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Contato</a></li>
          <li><%= link_to 'Alterar meus dados', {:controller => "home", :action => 'logar'} %></li>
          <li><%= link_to 'Admin', {:controller => "home", :action => 'inbox' } %></li>
        </ul>
      </div>

    </div>

  	<%= yield %>

  </div>
</body>
</html>
